In [1]:
import pandas as pd
import glob
import os

folder_path = 'tripdata'  
file_paths = glob.glob(os.path.join(folder_path, '*.csv'))
data_list_v1 = []
data_list_v2 = []
for file_path in file_paths:
    date = file_path[9:15]
    df = pd.read_csv(file_path)
    if date <= '202303':
        data_list_v1.append(df)
    else:
        data_list_v2.append(df)

#print(file_paths)
print(len(data_list_v1))
print(len(data_list_v2))

27
12

In [2]:
combined_df_v1 = pd.concat(data_list_v1, ignore_index=True)
combined_df_v1.drop_duplicates(inplace=True)

combined_df_v1.fillna({
    'postal code': 'Unknown' 
}, inplace=True)

combined_df_v1.dropna(inplace=True)
print(len(combined_df_v1))

7183977

In [3]:
combined_df_v1['start station id'] = combined_df_v1['start station id'].astype(str)
combined_df_v1['end station id'] = combined_df_v1['end station id'].astype(str)
combined_df_v1['bikeid'] = combined_df_v1['bikeid'].astype(str)
combined_df_v1['usertype'] = combined_df_v1['usertype'].astype('category')
combined_df_v1.sort_values(by='starttime', ascending=True, inplace=True)

combined_df_v1[:5]

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,postal code
290621,914,2021-01-01 00:00:04.5900,2021-01-01 00:15:19.1680,91,One Kendall Square at Hampshire St / Portland St,42.366277,-71.091690,370,Dartmouth St at Newbury St,42.350961,-71.077828,5316,Customer,02139
290622,1085,2021-01-01 00:00:21.8030,2021-01-01 00:18:27.4640,370,Dartmouth St at Newbury St,42.350961,-71.077828,169,Edwards Playground - Main St at Eden St,42.378965,-71.068607,4917,Subscriber,02116
290623,946,2021-01-01 00:00:26.0090,2021-01-01 00:16:12.0900,46,Christian Science Plaza - Massachusetts Ave at...,42.343666,-71.085824,21,Prudential Center - 101 Huntington Ave,42.346520,-71.080658,2881,Customer,02115
290624,355,2021-01-01 00:00:30.9210,2021-01-01 00:06:26.6000,178,MIT Pacific St at Purrington St,42.359573,-71.101295,107,Ames St at Main St,42.362500,-71.088220,4792,Subscriber,02139
290625,511,2021-01-01 00:01:11.2270,2021-01-01 00:09:43.1950,386,Sennott Park Broadway at Norfolk Street,42.368605,-71.099302,413,Kennedy-Longfellow School 158 Spring St,42.369553,-71.085790,6062,Subscriber,02139

In [4]:
#combined_df_v1.to_csv("BikeData_202101_202303.csv")

In [6]:
combined_df_v1['Hour_start'] = combined_df_v1['starttime'].apply(lambda x: x[:13])
combined_df_v1['Hour_stop'] = combined_df_v1['stoptime'].apply(lambda x: x[:13])
combined_df_v1[:5]

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,postal code,Hour_start,Hour_stop
290621,914,2021-01-01 00:00:04.5900,2021-01-01 00:15:19.1680,91,One Kendall Square at Hampshire St / Portland St,42.366277,-71.091690,370,Dartmouth St at Newbury St,42.350961,-71.077828,5316,Customer,02139,2021-01-01 00,2021-01-01 00
290622,1085,2021-01-01 00:00:21.8030,2021-01-01 00:18:27.4640,370,Dartmouth St at Newbury St,42.350961,-71.077828,169,Edwards Playground - Main St at Eden St,42.378965,-71.068607,4917,Subscriber,02116,2021-01-01 00,2021-01-01 00
290623,946,2021-01-01 00:00:26.0090,2021-01-01 00:16:12.0900,46,Christian Science Plaza - Massachusetts Ave at...,42.343666,-71.085824,21,Prudential Center - 101 Huntington Ave,42.346520,-71.080658,2881,Customer,02115,2021-01-01 00,2021-01-01 00
290624,355,2021-01-01 00:00:30.9210,2021-01-01 00:06:26.6000,178,MIT Pacific St at Purrington St,42.359573,-71.101295,107,Ames St at Main St,42.362500,-71.088220,4792,Subscriber,02139,2021-01-01 00,2021-01-01 00
290625,511,2021-01-01 00:01:11.2270,2021-01-01 00:09:43.1950,386,Sennott Park Broadway at Norfolk Street,42.368605,-71.099302,413,Kennedy-Longfellow School 158 Spring St,42.369553,-71.085790,6062,Subscriber,02139,2021-01-01 00,2021-01-01 00

In [7]:
grouped_start = combined_df_v1.groupby(['start station id', 'Hour_start']).size().reset_index()
grouped_stop = combined_df_v1.groupby(['end station id', 'Hour_stop']).size().reset_index()
print(grouped_start[:-5])
print(grouped_stop[:-5])

        start station id     Hour_start  0
0                      1  2021-01-21 22  1
1                      1  2021-01-28 21  1
2                      1  2021-02-03 16  1
3                      1  2021-02-04 16  1
4                      1  2021-02-07 15  1
...                  ...            ... ..
2453671               99  2023-03-31 00  1
2453672               99  2023-03-31 08  2
2453673               99  2023-03-31 11  1
2453674               99  2023-03-31 12  1
2453675               99  2023-03-31 15  1

[2453676 rows x 3 columns]
        end station id      Hour_stop  0
0                    1  2021-01-05 23  1
1                    1  2021-01-06 13  1
2                    1  2021-01-06 18  1
3                    1  2021-01-06 19  1
4                    1  2021-01-07 13  1
...                ...            ... ..
2446919             99  2023-03-30 14  1
2446920             99  2023-03-30 15  1
2446921             99  2023-03-30 16  1
2446922             99  2023-03-30 18  1
2446923             99  2023-03-30 21  2

[2446924 rows x 3 columns]

In [8]:
grouped_start = combined_df_v1.groupby(['start station id', 'Hour_start']).size().reset_index(name='Start_Count')
grouped_stop = combined_df_v1.groupby(['end station id', 'Hour_stop']).size().reset_index(name='Stop_Count')

grouped_start = grouped_start.rename(columns={'start station id': 'station_id', 'Hour_start': 'Hour'})
grouped_stop = grouped_stop.rename(columns={'end station id': 'station_id', 'Hour_stop': 'Hour'})

merged_df = grouped_start.merge(grouped_stop, on=['station_id', 'Hour'], how='outer')

merged_df = merged_df.fillna(0)

merged_df['Start_Count'] = merged_df['Start_Count'].astype(int)
merged_df['Stop_Count'] = merged_df['Stop_Count'].astype(int)
merged_df['Net_Flow'] = merged_df['Stop_Count'] - merged_df['Start_Count']

In [ ]:
from pandas.tseries.holiday import USFederalHolidayCalendar
calendar = USFederalHolidayCalendar()
holidays = calendar.holidays(start='2021-01-01', end='2023-04-01')
holidays = holidays.date
holidays

In [ ]:
merged_df['Hour'] = pd.to_datetime(merged_df['Hour'])
merged_df.set_index('Hour', inplace=True)
merged_df['hour'] = merged_df.index.hour
merged_df['day_of_week'] = merged_df.index.dayofweek
merged_df['is_holiday'] = merged_df.index.normalize().isin(holidays)
merged_df[:5]

In [9]:
print(set(merged_df['Net_Flow']))

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 81, 83, 84, 85, 86, 87, 88, 89, 93, 94, 96, 97, 99, 100, 101, 111, -121, -119, -118, -109, -103, -102, -99, -97, -95, -92, -91, -90, -89, -88, -87, -86, -85, -84, -82, -81, -79, -78, -77, -75, -73, -72, -71, -70, -69, -68, -67, -66, -65, -64, -63, -62, -61, -60, -59, -58, -57, -56, -55, -54, -53, -52, -51, -50, -49, -48, -47, -46, -45, -44, -43, -42, -41, -40, -39, -38, -37, -36, -35, -34, -33, -32, -31, -30, -29, -28, -27, -26, -25, -24, -23, -22, -21, -20, -19, -18, -17, -16, -15, -14, -13, -12, -11, -10, -9, -8, -7, -6, -5, -4, -3, -2, -1}

In [10]:
merged_df.to_csv('Merged_Data_202101_202303.csv')